.contact{
    text-align: center;
    margin-top: 2em;
}

.contact form{
    margin-top: 2em;
}

.contact fieldset{
    /* margin-left: 25%;
    margin-right: 25%; */
background: linear-gradient(90deg, rgba(246, 167, 154, 0.5), rgba(36, 41, 200, 0.5));
}

.contact span{
    font-weight: bold;
}

.contact button{
    background-color: #F69DA4;
    display: inline-block;
    height: 2em;
    width: 8em;
    border-radius: 0.5em;
    font-size: 1rem;
    border: none;
}

.contact button:hover {
    cursor: pointer;
    color: white;
    border: 0.5px solid #242947;
}