.feature {
    display: flex; /* Utilise Flexbox */
    flex-direction: column; /* Aligne l'image et le texte en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte */
    width: 350px; /* Limite la largeur de chaque colonne */
}

.featureImage {
    width: 50px; /* Taille fixe de l'image */
    height: 40px; /* Conserve les proportions */
    margin-bottom: 1rem; /* Ajoute de l'espace entre l'image et le texte */
    object-fit: cover;
}

.featureText {
    font-size: 1rem; /* Taille de la police */
    line-height: 1.5; /* Espacement entre les lignes */
    color: #333; /* Couleur du texte */
}
