.container {
    text-align: center;
    padding: 1.3em 10em;
}

.photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
}

.paragraghe {
    display: flex;

    align-items: flex-start;

    gap: 3rem;

    max-width: 1400px;

    width: 100%;
    margin-left: 1.5em;
    text-align: justify;
}

.photo1 {
    width: 600px;

    height: 300px;

    border-radius: 22px;

    object-fit: cover;
}

.photo1 span {
    display: inline;
}

.paragraghe p {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 3rem 0.5;
}

.citation {
    font-weight: bold;
    font-size: 0.9rem;
    font-style: italic;
    color: #555;
    text-align: right;
    margin: 0;
}

.artistesContainer {
    background-color: #EFAC01;
    /* Couleur jaune-orange pour le fond */
    border-radius: 1.1em 0 1.1em 0;
    /* Coins arrondis */
    padding: 1rem 2rem;
    /* Espacement interne */
    text-align: center;
    /* Centre le texte horizontalement */
    margin: 2rem auto;
    /* Ajoute de l'espace autour du conteneur */
    width: 70%;
    /* Limite la largeur du conteneur */

}

.artistesText {
    font-size: 18px;
    /* Taille du texte */
    font-weight: bold;
    /* Texte en gras */
    color: black;
    /* Couleur du texte */
    margin: 0;
    /* Supprime les marges externes */
}

.featuresContainer {
    display: flex;
    /* Aligne les éléments sur une seule ligne */
    justify-content: space-between;
    /* Répartit l'espace entre les colonnes */
    align-items: flex-start;
    /* Aligne les colonnes en haut */
    gap: 2rem;
    /* Ajoute un espace entre chaque colonne */
    padding: 2rem 0;
    /* Ajoute de l'espacement autour du conteneur */
}


.feature {
    display: flex;
    /* Utilise Flexbox */
    flex-direction: column;
    /* Aligne l'image et le texte en colonne */
    align-items: center;
    /* Centre les éléments horizontalement */
    text-align: center;
    /* Centre le texte */
    width: 350px;
    /* Limite la largeur de chaque colonne */
}

.featureImage {
    width: 50px;
    /* Taille fixe de l'image */
    height: 40px;
    /* Conserve les proportions */
    margin-bottom: 1rem;
    /* Ajoute de l'espace entre l'image et le texte */
    object-fit: cover;
}

.featureText {
    font-size: 16px;
    /* Taille de la police */
    line-height: 1.5;
    /* Espacement entre les lignes */
    color: #333;
    /* Couleur du texte */
}