.banniere {
  position: "relative";
  width: "100vw";
  height: "100vh";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 13em;
  overflow: hidden;
}

.banniere h1 {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.banniere div {
  background-color: #252659;
  font-size: 2rem;
  padding: 0.5em;
  /* margin: 3em auto; */
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.1em 0 1.1em 0;
  max-width: 50%;
  opacity: 0.8;
  border: 0.1rem solid white;
  color: white;
  font-weight: bold;
}

.banniere form {
  background-color: #ddd;
  padding: 2em 1em;
  border-radius: 2em;
  margin: auto;
  opacity: 0.8;
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.banniere input,
.banniere button {
  height: 3em;
  width: 100%;
  max-width: 15em;
  border: none;
  border-radius: 0.8em;
  padding: 0 1em;
}

.banniere button {
  background-color: #252659;
  color: white;
  font-weight: bold;
}

.banniere button:hover {
  cursor: pointer;
  background-color: white;
  color: #252659;
  border: 0.1rem solid #252659;
}

.eventDate {
  position: "absolute";
  width: "1px";
  height: "1px";
  overflow: "hidden";
}

/* Responsive pour les petits écrans */
@media (max-width: 768px) {
  .banniere {
    position: relative;
    max-width: auto;
    margin-bottom: 0;
  }
  .banniere h1 {
    font-size: 2rem;
  }

  .cadre_jaune {
    font-size: 1.5rem;
    max-width: 80%;
  }

  .zone_recherche {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  .banniere input,
  .banniere button {
    width: 100%;
  }
}

/* Pour les grands écrans */
@media (min-width: 769px) {
  .zone_recherche {
    flex-direction: row;
  }
}
