.entetePage{
    background-image: url('../public/ImageApropos/image1.jpg');
    height: 10em;
    object-fit: cover;
    padding-top: 0.5em;
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
}