.header {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    background-color: #fdfdfd;
    margin: 0;
    height: auto;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    padding: 0.5rem;
}

.header ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

.header ul li a:hover {
    color: #252659;
    text-decoration: underline;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 10rem;
    border-radius: 20%;
}

.header button {
    display: inline-block;
    height: 2.5em;
    border: none;
    border-radius: 0.8em;
    padding: 0.5em 1em;
    background-color: #252659;
    font-weight: bold;
    color: white;
}

.header button:hover {
    cursor: pointer;
    color: #252659;
    background-color: white;
    border: 0.1rem solid #252659;
}

@media (max-width: 768px) {
    .header ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .header ul li {
        width: 100%;
        text-align: left;
    }

    .header ul li:last-child {
        align-self: flex-end;
    }

    .logo {
        height: 2rem;
        width: 6rem;
    }

    .header button {
        width: 100%;
        margin: 0.5em 0;
    }
}

@media (min-width: 769px) {
    .header ul {
        flex-direction: row;
    }

    .header ul li:last-child {
        margin-left: auto;
    }
}
