.header {
    padding-top: 1.2rem;
    background-color: #fdfdfd;
    margin: 0;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header ul li {
    float: left;
}

.header ul li:last-child {
    float: right;
}

.header ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

.header ul li a:hover {
    /* background-color: #eee; */
    border-radius: 2em;
}

.logo {
    height: 2.5rem;
    width: 10rem;
}

.header button {
    display: inline-block;
    margin-right: 3em;
    margin-left: 3em;
    height: 2.5em;
    border: none;
    border-radius: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #F69DA4;
    font-weight: bold;
}

.header button:hover{
    cursor: pointer;
    color: white;
}


/* Fond semi-transparent pour le modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenu du modal */
.modal {
    background:whitesmoke;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Bouton de fermeture */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Champs de formulaire */
.modal input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 1.1em;
}

/* Bouton de soumission */
.submitbtn {
    background: #FFD700;
    color: black;
    border: none;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.submitbtn:hover {
    background: #FFC300;
}

/* Lien vers connexion */
.loginlink {
    margin-top: 15px;
}

.loginlink  {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* Bouton pour ouvrir le modal */
.openmodalbtn {
    background: pink;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
