.prestation_vente_etape{
    background-color: #242947;
    padding: 1em;
    border-radius: 0.5em;
    width: 30%;
    height: 12em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prestation_vente_etape p{
    color: white;
}

.numero{
    background-color: coral;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    position: absolute;
    top: -3em;
    left: 40%;
    
}
.numero span{
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}